# 01 Menyertakan Prefix dan Suffix pada seluruh kolom Data Frame
 

## import modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.0.3
1.24.3

## Persiapan data frame

In [2]:


n_rows = 5
n_cols = 5
cols = tuple ('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns=cols)
df

   A  B  C  D  E
0  6  6  9  2  3
1  5  9  5  9  7
2  8  9  4  4  5
3  1  4  4  9  9
4  9  3  3  7  5

In [3]:
tuple ('ABCDE')

('A', 'B', 'C', 'D', 'E')

## Menyertakan prefix kolom

In [4]:
df.add_prefix('kolom_')

   kolom_A  kolom_B  kolom_C  kolom_D  kolom_E
0        6        6        9        2        3
1        5        9        5        9        7
2        8        9        4        4        5
3        1        4        4        9        9
4        9        3        3        7        5

In [5]:
#Menyertakan suffix kolom

df.add_suffix('_field')

   A_field  B_field  C_field  D_field  E_field
0        6        6        9        2        3
1        5        9        5        9        7
2        8        9        4        4        5
3        1        4        4        9        9
4        9        3        3        7        5