## 11 Melakukan seleksi kolom dan baris pada data frame menggunakan loc


## Import modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.0.3
1.24.3

## Persiapan data frame

## Seleksi kolom dan baris menggunakan loc

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D   E
0  11  11  19  13   8
1   9   1  11   4   1
2  16  10  16  19  10
3   8  12  16   3  18
4   3   7   1  19  13
5   2   8   5  19  16
6  19  11   4   1   9
7  10  19  15   9   4
8  18   7   9  18  12
9   6  19   1   5  17

In [3]:
df.loc[[0,3,4], ['B','E']]

    B   E
0  11   8
3  12  18
4   7  13

## Seleksi baris dengan kondisi

In [4]:
df.loc[df['B']>10, ['B','D','E']]

    B   D   E
0  11  13   8
3  12   3  18
6  11   1   9
7  19   9   4
9  19   5  17

## Slicing Data Frame dengan loc

In [5]:
df.loc[0:4, 'B':'D']

    B   C   D
0  11  19  13
1   1  11   4
2  10  16  19
3  12  16   3
4   7   1  19